---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout>
	<Navigation />
  
	<!-- Page Heading -->
	<h1>
	  My post
	</h1>
	<button type="button"  >New post</button>
	<h4>create post</h4>
	<form action="#">

        <label for="posttitle">Title</label>
        <input type="text" name="title" id="posttitle" >

        <label for="textarea">content</label>
        <input type="text" name="content" id="postcontent">

        <button type="submit" >Save</button>
    </form>
  </Layout>