---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout>
	<Navigation />
  
	<!-- Page Heading -->
	<h1>
	  Welcome to week 11 of Web Frameworks, here's a demo on how to login and register
	</h1>
  </Layout>