<h2 style="text-align: center; color: black; font-weight: bold;">Week 11: Login & Register</h2>
<ul style="list-style-type: none; display: flex; justify-content: center; background-color: #ff1e2e; padding: 10px; margin: 0;">
    <li style="margin: 0 15px;"><a href="/" style="color: white; font-weight: bold; text-decoration: none;" onmouseover="this.style.color='#f4f4f4'" onmouseout="this.style.color='white'">Home</a></li>
  <li style="margin: 0 15px;"><a href="signin" style="color: white; font-weight: bold; text-decoration: none;" onmouseover="this.style.color='#f4f4f4'" onmouseout="this.style.color='white'">Sign In Page</a></li>
  <li style="margin: 0 15px;"><a href="register" style="color: white; font-weight: bold; text-decoration: none;" onmouseover="this.style.color='#f4f4f4'" onmouseout="this.style.color='white'">Register Page</a></li>
  <li style="margin: 0 15px;"><a href="dashboard" style="color: white; font-weight: bold; text-decoration: none;" onmouseover="this.style.color='#f4f4f4'" onmouseout="this.style.color='white'">Dashboard Page</a></li>
</ul>